* {
  margin: auto;
  padding: auto;
}

.container {
  background-color: rgb(90, 88, 241);
  height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  color: rgb(0, 0, 0);
}

.price {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.price p {
  font-size: 40px;
  margin: 2px;
}

.discount {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.discount p {
  font-size: 40px;
  margin: 2px;
}

.content-body {
  max-width: 100%;
  margin: 0 25% 5% 25%;
  display: flex;
}

.price-body {
  margin: 15px;
  flex: 100%;
}

.discount-body {
  margin: 15px;
  flex: 100%;
  
}

.discount-button {
  width: 100%;
  background-color: green;
}

.keypad-buttons {
  display: block;
  background-color: #bbb;
}

button  {
  width: 33.3%;
  height: 60px;
  font-size: 30px;
}

.total-box {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 350px;
  
}

.total-price {
  font-size: 28px;
}